body {
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #000;
}

.content {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    /* 行不够 换行 */
    flex-wrap: wrap;
}

.content div {
    background-color: pink;
    margin: auto;
    text-align: center;
    /* 大写 */
    text-transform: uppercase; 
    width: 100px;
    height: 100px;
}

.content .special {
    color: blue
}